*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header nav .navbar1-items{
    display: flex;
    justify-content: space-around;
    padding: 0.6rem 1rem;
    background-color: rgb(15, 76, 54);
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.navbar1 a{
    color: white;
    text-decoration: none;
}

header nav .navbar2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255 246 244);
    padding: 0.55rem 1rem;
    letter-spacing: 1px;
}
.navbar2 .navbar2-items-menu{
    display: none;
}
.navbar2 .nav-items .list{
    display: none;
}
.navbar2 .nav-items .seed-list{
    display: none;
}
.navbar2 .nav-items .pot-plant{
    display: none;
}
.navbar2 .nav-items .plant-list{
    display: none;
}

.navbar2 .nav-items #plant:hover{
    display: visible !important;
}
header nav .navbar2 .nav-items{
    display: flex;
    width: 50%;
    font-size: 12px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items #nav-off{
    color:rgba(15, 76, 54, 0.637);
}

.nav-items a {
    color: #0F4C36;
    text-decoration: none;
}
.nav-items a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #578273;
    transition: 0.5s;
    text-underline-offset: 5px;
}

.search{
    border: 1px solid grey;
    padding: 0.35rem 0.5rem;
    border-radius: 30px;
    background-color: white;
}

.search input{
    border: none;
    padding: 0 0.5rem;
    font-size: large;
    width: 20rem;
}

.search input:focus{
    outline: none;
}

.search:hover{
    box-shadow: 0 0 .1rem rgb(255, 255, 255),0 0 .5rem .1rem rgb(1 94 204 / 50%);
    border: 2px solid transparent;
}

.nav-icons{
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    color: rgba(1, 8, 1, 0.884);
}

.nav-icons i,svg{
    color:darkgreen;
}

.nav-icons img,i:hover{
    color: rgba(15, 76, 54, 0.637);
    cursor: pointer;
    transform: scale(1.1);
}
.nav-icons svg:hover{
    color: rgba(15, 76, 54, 0.637);
    cursor: pointer;
    transform: scale(1.1);
}
.nav-icons svg{
    width: 1rem;
}
@media  screen and (width>= 990px) and (width<1260px){
    .navbar2 .nav-items{
        width: 40rem !important;
    }
    .navbar2 .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar2 .search input{
        width: 5rem !important;
    }
}

@media  screen and (max-width: 989px){
    .navbar2 .nav-items{
        display: none !important;
    }

    .navbar2{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .navbar2 .navbar2-items-menu{
        display: inline;
        grid-column: 1;
        grid-row: 1;
    }

    .navbar2 .img{
        grid-column: 2;
    }

    .nav-items{
        display: none !important;
    }
    .nav-icons{
        grid-column: 3;
        justify-self: end;
        width: 10rem !important;
    }
    .search{
        width: 100% !important;
    }
    .search .fa-magnifying-glass{
        display: inline-block;
        margin-left: auto;
    }
    .navbar1 .nav-items{
        display: none !important;
    }
    .search{
        grid-row: 2;
        grid-column: 1/-1;
    }
}

/* @media  screen and (max-width:768px){
    .navbar2{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .nav-items{
        display: none !important;
    }
    .nav-icons{
        grid-column: 3;
        justify-self: end;
        width: 10rem !important;
    }
    .search{
        width: 100% !important;
    }
    .search .fa-magnifying-glass{
        display: inline-block;
        margin-left: auto;
    }
    .navbar1 .nav-items{
        display: none !important;
    }
    .search{
        grid-row: 2;
        grid-column: 1/-1;
    }
}
    */
@media screen and (max-width: 391px){
    .navbar1{
        display: flex;
        justify-content: center;
        background-color: rgb(15, 76, 54);
    }
    .navbar1-items{
        width: 17.9%;
        overflow-x: scroll;
        gap: 2rem;
    }
    .navbar2 .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        overflow: hidden;
    }
    .navbar2 .search input{
        width: 70%;
    }
    .navbar2 .search i{
        margin-left: 10rem;
    }
} 
/* home section started */
.home{
    position: relative;
}
.hero-img{
    height: 470px;
}
.home .home-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.home-buttons{
    display: flex;
    width:  100%;
    justify-content: space-between;
    position: absolute;
    top: 25%;
}
.home-buttons .arrow{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0.5rem;
    padding: 0.8rem 0.8rem;
    background-color: #149253;
    border-radius: 50px;
}

.home-buttons #home-shop{
    position: absolute;
    top: 59%;
    left: 50%;
}

.home-buttons button{
    background-color: #149253;
    border: none;
    color: white;
    padding: 0.8rem 1rem; 
}

.home-content{
    display: flex;
    background-color: #FFD02A;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 2rem;
}
.home-content .home-content-sec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #212326;
}

.home-content .home-content-sec p{
    margin-bottom: 0.5rem;
}
.home-content .home-content-button a{
    color: white;
    text-decoration: none;
    background-color: #149253;
    padding: 0.8rem 1.5rem;
}
.home .home-cards{
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    font-family: sans-serif;
}
.home .home-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.home .home-cards .card p{
    color: #212326;
    margin-top: 0.5rem;
}
.home .home-cards .card .home-card-img img{
    border-radius: 50px;
    border: 3px solid #e3b4d5;
}
@media screen and (max-width: 640px) {
    .home .home-content{
        display: flex;
        flex-direction: column;
    }
    .home .home-img img{
        object-fit: fill;
        object-position: center;
        height:  20rem;
        width: 100vw;
    }
    .home .home-content p{
        
        font-size: 18px ;
    }
}
.bestpicks{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.bestpicks h2{
    font-size: 36px;
    margin: 0 0 0.5rem 2rem;
    /* margin-right: auto; */
    color: #1A1B1B;
}

.bestpicks .bestpicks-cards{
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    gap: 1rem;
}
.bestpicks-cards .card .bestpicks-card-img img{
    object-fit: cover;
    background-position: center;
    width: 17rem;
}
.bestpicks-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.bestpicks-cards .card:hover .bestpicks-card-img{
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.1);
    transition:  1s ease-in-out;
    overflow: hidden;
}

.bestseller{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font: sans-serif;
    margin-bottom: 5rem;
}

.bestseller-head{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #1A1B18;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: lighter;
    font-family: sans-serif;
    gap: 1rem;
}
.bestseller-head img{
    width: 40px;
    height: 40px;
}
.bestseller .bestseller-cards{
    position: relative;
    /* display: flex; */
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-x: auto;
    /* overflow-y: hidden; */
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.bestseller-cards .sale-tag{
    position: absolute;
    top: 1rem;
    z-index: 5;
} 
.bestseller-cards .sale-tag span{
    background-color: #FED02F;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 2px;
}
.bestseller-cards .card .bestseller-card-img img{
    width: 18rem;
    height: 23rem;
}
.bestseller .bestseller-cards .card .plant-name{
    margin: 1rem 0 2rem 0;
    font: 22px Outfit,sans-serif;
}
.bestseller-cards .card .star{
    margin-bottom: 0.5rem;
    color: #FFD02A;
}
.bestseller-cards .card .price {

    margin-bottom: 1rem;
}
.bestseller-cards .card .price span{
    font: 14px "josefin Sans",sans-serif;
    margin-bottom: 1rem;
    color: #969696;
    text-decoration: underline;
    text-underline-offset: -5px;
    letter-spacing: 0.5px;
}
.bestseller-cards .card .price p{
    color: #149253;
    font: 18px "josefin Sans",sans-serif;
    letter-spacing: 1px;
}
.bestseller-cards .card a,.bestseller .viewall {
    text-decoration: none;
    color: white;
    background-color: #149253;
    padding: 0.6rem 2rem;
}
.bestseller .viewall{
    width: 14rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
}
.bestseller-cards .card:hover .bestseller-card-img{
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.01);
    transition:  0.5s ease-in-out;
    /* overflow: hidden; */
}
.bestseller-cards .card:hover .star{
    transition: 1s;
    border-top: 1px solid #969696;
    padding-top: 10px;
}
.new-arrivals{
    display: flex;
    flex-direction: column;
}
.new-arrival-head{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #1A1B18;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: lighter;
    font-family: sans-serif;
    gap: 1rem;
}
.new-arrival-head img{
    width: 40px;
    height: 40px;
}
.new-arrivals .new-arrival-cards{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    overflow-x: auto;
    /* overflow-y: hidden; */
    gap: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.new-arrival-cards .sale-tag{
    position: absolute;
    top: 1rem;
    z-index: 5;
} 
.new-arrival-cards .sale-tag span{
    background-color: #FED02F;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: 2px;
}
.new-arrival-cards .card .new-arrival-card-img img{
    width: 18rem;
    height: 23rem;
}
.new-arrivals .new-arrival-cards .card .plant-name{
    margin: 1rem 0 2rem 0;
    font: 22px Outfit,sans-serif;
}
.new-arrival-cards .card .star{
    margin-bottom: 0.5rem;
    color: #FFD02A;
}
.new-arrival-cards .card .price {

    margin-bottom: 1rem;
}
.new-arrival-cards .card .price span{
    font: 14px "josefin Sans",sans-serif;
    margin-bottom: 1rem;
    color: #969696;
    text-decoration: underline;
    text-underline-offset: -5px;
    letter-spacing: 0.5px;
}
.new-arrival-cards .card .price p{
    color: #149253;
    font: 18px "josefin Sans",sans-serif;
    letter-spacing: 1px;
}
.new-arrival-cards .card a,.new-arrivals .viewall {
    text-decoration: none;
    color: white;
    background-color: #149253;
    padding: 0.6rem 2rem;
}
.new-arrivals .viewall{
    width: 14rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    color: white;
}

.new-arrivals .viewall a{
    color: white;
    text-decoration: none;
}
.new-arrival-cards .card:hover .new-arrival-card-img{
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.01);
    transition:  0.3s ease-in-out;

}
.new-arrival-cards .card:hover .star{
    transition: 1s;
    border-top: 1px solid #969696;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .new-arrival-cards{
        display: flex !important;
        overflow-x: auto ;
    }
    .new-arrivals h2{
        font-size: 18px;
    }
    .new-arrival-head img{
        width: 20px;
        height: 20px;
    }
    .bestpicks .bestpicks-cards{
        display: flex;
        justify-content: space-around;

    }
    .bestpicks-cards .card .bestpicks-card-img img{
        width: 9rem;
        height: 10rem;
        margin: 0;
    }
    .bestseller h2{
        font-size: 18px;
    }
   
}
@media screen and (max-width: 425px){
    .bestpicks .bestpicks-cards{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .bestpicks h2{
        font-size: 14px;
    }
    .bestseller h2{
        font-size: 14px;
    }
    .bestseller .bestseller-cards .bestseller-card-img img{
        object-fit: cover;
        object-position: center;
        width: 10rem;
        height: 13rem;
    }
    .bestseller .bestseller-cards .card p{
        font-size: 14px !important;
    }
    .bestseller .bestseller-cards .card span{
        font-size: 10px;
    }
    .bestseller .bestseller-cards .card a{
        font-size:  15px;
        padding: 0.5rem;
    }
    .bestseller .viewall{
        width: 10rem;
    }

    


    .new-arrivals h2{
        font-size: 14px;
    }
    .new-arrivals .new-arrivals-cards .new-arrivals-card-img img{
        object-fit: cover;
        object-position: center;
        width: 10rem;
        height: 13rem;
    }
    .new-arrivals .new-arrival-cards .card p{
        font-size: 14px !important;
    }
    .new-arrivals .new-arrival-cards .card span{
        font-size: 10px;
    }
    .new-arrivals .new-arrival-cards .card a{
        font-size:  15px;
        padding: 0.5rem;
    }
    .new-arrivals .viewall{
        width: 10rem;
    }
}

.shop-the-look{
    margin-top: 5rem;
}
.shop-the-look h2{
    text-align: center;
    margin-bottom: 1rem;
    font-family: sans-serif;
    color: #1A1B18;
    font-size: 25px;
}
.shop-the-look-img{
    width: 100vw;
}
.shop-the-look .shop-the-look-img img{
    width: 100%;
}


.deal{
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
    font-family: sans-serif;
}
/* .deal-img{
    margin-top: 5rem;
} */
.deal-img img{
    width: 40rem;
    height: 38rem;
}
.deal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.deal-content .deal-content-head{
    font-size: 24px;
    color: #323232;
    margin-bottom: 0.7rem;
}
.deal-content h1{
    color: #0F4C36;
    font-size: 32px;
    margin-bottom: 0.4rem;
}
.deal-content .star{
    color: #FFD02A;
    font-size: 10px;
    margin-bottom: 1.5rem;
}
.deal-content .price{
    display: flex;
    align-items: center;
}

.deal-content .price p span{
    color: #969696;
    text-decoration: underline;
    text-underline-offset: -5px;
    margin-right: 10px;
    font-size: 16px;
}
.deal-content .price p .price-sign{
    color: #149253;
}
.deal-content .price p{
    color: #149253;
    font-size: 28px;
}
.deal-content .price .price-sale{
    font-size: 10px;
    color: #0F4C36;
    background-color: #FFD02A;
    margin-left: 8px;
    padding: 4px 10px;
}
.plant-size p{
    font-size: 15px;
    margin-bottom: 10px;
}
.plant-size button{
    padding: 6px 10px;
    color: #0F4C36;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0F4C36;
}
.deal-content .planter p{
    font-size: 15px;
    margin-bottom: 10px;
    /* padding: 6px 10px; */
}
.planter .planter-buttons button{
    padding: 6px 10px;
    color: #0F4C36;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0F4C36;
}
.deal-content .first{
    color: #0F4C36;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #0F4C36 !important;
}
.deal-content .planter button:hover{
    border: 2px solid #0F4C36;
    cursor: pointer;
} 
.deal-content .plant-size button:hover{
    border: 2px solid #0F4C36;
    cursor: pointer;
}
.deal-content .color span{
    color: #212326B3;
}
.deal-content .color .deal-color{
    width: fit-content;
    background-color: #FDF8DF;
    padding: 15px;
    border-radius: 50px;
    margin: 0.5rem 0;
    border: 1px solid rgba(128, 128, 128, 0.24);
    cursor: pointer;
}
.deal-content .color .ivory{
    margin: 0.5rem 0; 
}

.deal-content .quantity{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 1.5rem;
}
.deal-content .quantity .quantity-add-button{
    display: flex;
    gap: 2rem;
}
.deal-content .quantity .quantity-add-button .add-items button{
    background-color: #21232614;
    color: #212326;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    padding: 2px 8px;
    margin: 0 0.5rem 1rem 0.5rem;
}

.deal-content .quantity .quantity-add-button .add-items button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.quantity .cart-button button{
    font-size: 15px;
    color:  white;
    background-color: #149253;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.quantity .buy-button button{
    font-size: 15px;
    color:  #149253;
    background-color: transparent;
    padding: 0.6rem 6.5rem;
    border: 2px solid #149253;
    border-radius: 5px;
    cursor: pointer;
}
.deal .deal-content .deal-details{
    color: #646464;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
    padding: 1.5rem 5rem 1.5rem 0;
}
.deal-social h6{
    margin-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
.deal-social h6 span{
    font-size: 20px;
    font-weight: lighter;
}
.deal-social .social-icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1.5rem;
}
.deal-social .social-icon .icon{
    display: flex;
    gap: 0.5rem;
    font-size: 18px;
    align-items: center;
}
.deal-social .social-icon .icon p{
    font-size: 12px;
    color: #212326f1;
    text-decoration: underline;
    text-underline-offset: 1px;
    cursor: pointer;
}
.deal-social .social-icon .icon:hover p{
    color: #212326;
    text-decoration: underline;
}

@media screen and (max-width: 980px) {
    
    .deal .deal-img img{
        margin-top: 5rem;
        width: 30rem;
    }
}
@media screen and (max-width: 808px) {
    
    .deal .deal-img img{
        margin-top: 12rem;
        width: 25rem;
        height: 25rem;
    }
}
@media screen and (max-width: 730px) {
    
    .deal{
        display: flex;
        flex-direction: column;
    }
    .deal-content .deal-details p{
        padding: 0px;
    }
    .deal .deal-img img{
        margin-top: 12rem;
        width: 100%;
        height: 30rem;
    }
}


.why{
    background-color: #EFF8F2;
    font-family: sans-serif;
}
.why h2{
    margin: 6rem 0 2rem 0;
    text-align: center;
    padding-top: 2.5rem;
    font-size: 26px;
    font-weight: 500;
}
.why .why-content{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}
.why .why-content .why-content-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.why img{
    margin-bottom: 1.7rem;
}
.why .why-content-img p{
    text-align: center;
}
.why-views img{
    width: 100%;
}
.magic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 4rem 0px;
}

.magic p{
    padding-inline: 20rem;
    text-align: center;
    font-size: 18px;
}
.magic h2{
    font-size: 36px;
    font-weight: 50;
    margin-bottom: 2rem;
}
.subscription{
    display: flex;
    align-items: center;
    
}
.subscription .subscription-img{
    width: 50%;
}
.subscription .subscription-img img{
    width: 100%;
    height: 30rem;
}
.subscription-content{
    margin: 0 auto;
    width: 40%;
}
.subscription-content h2{
    color: #323232;
    font-size: 32px;
}
.subscription-content p{
    color: #646464;
    font-size: 18px;
    margin-block: 1rem;
    letter-spacing: 0.5px;
    line-break: auto;
}
.subscription-content a{
    font-size: 15px;
    background-color: #149253;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
@media screen and (max-width: 890px) {

    .magic p{
        padding-inline: 9rem;
    }   
}
@media screen and (max-width: 500px) {

    .magic h2{
        font-size: 18px;
        text-align: left !important;
    }
    .magic p{
        padding: 0 0 0 0.5rem;
        font-size: 14px;
        text-align: left;
    } 
    .subscription{
        display: flex;
        flex-direction: column;
    }  
    .subscription .subscription-img{
        width: 100%;
    }
    .subscription .subscription-img img{
        width: 100%;
    }
    .subscription .subscription-content{
        margin: 0 0 !important;
        text-align: left;
    }
    .subscription .subscription-content p{
        padding: 0;
        font-size: 16px;
        line-break: none !important;
    }
    .subscription .subscription-content h2{
        font-size: 24px;
    }
    .subscription .subscription-content a{
        font-size: 15px;
        padding: 5px;
    }
}
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    margin-bottom: 7rem;
}
.reviews .star{
    color: #FED02F;
    font-size: 13px;
    margin-top: 2rem;
}
.reviews h2{
    color: #1A1B18;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: lighter;
}
.reviews .reviews-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.reviews .reviews-img img{
    border-radius: 20px;
    
}
.reviews .reviews-content{
    width: 50%;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.1rem;
    color: #000000c4;
    font: 18px Outfit;
}
.reviews .reviews-img span{
    font-size: 29px;
    font-weight: bold;
    display: none;
}
.reviews .reviews-img:hover span{
    display: inline;
}
.reviews .reviews-content p{
    margin-bottom: 1rem;
}
.reviews .reviews-img .img1,.img3{
    opacity: 0.3;
    width: 60px;
    height: 60px;
}
.club{
    display: flex;
    justify-content: space-between;
}
.club .club-content{
    display: flex;
    margin: auto 0;
    flex-direction: column;
    gap: 1.5rem;
    width: 35%;
    margin-left: 8rem;
}
.club h2{
    font-size: 28px;
    color: #1a1b18de;
}
.club .club-content p{
    color: #646464;
}
.club .club-content .club-more{
    color: white;
    background-color: #149253;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 15px;
}
.club .club-content .club-refer{
    border: 2px solid #149253;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #1A1B18;
    font-size: 15px;
    text-decoration: none;
}
@media screen and (max-width: 965px) {

    .club .club-img{
        width: 27rem;       
    }
    .club .club-content{
        margin-left: 1rem !important;
        width: 40%;
    }
    .club .club-img img{
        width: 100%;       
    }
}
@media screen and (max-width: 728px) {

    .club{
        display: flex;
        flex-direction: column-reverse;

    }
    .club .club-content h2{
        font-size: 20px;
    }
    .club .club-content p{
        font-size: 16px;
    }
    .club .club-img {
        width: 100vw;       
    }
    .club .club-img img{
        width: 100%;
        height: 40rem;
    }
    .club-content{
        width: 90% !important;
    }

}
.about{
    margin: 5rem 0 6rem 0;
    padding: 0 15px;
}
.about h2{
    font-size: 24px;
    color: #000000c4;
}
.about p{
    color: #323232de;
    font-size: 14px;
}
.stripe{
    display: flex;
    justify-content: space-around;
    background-color: #114C36;
    padding: 16px 0;
    font-family: sans-serif;
    overflow: hidden;
}
.stripe img{
    width: 32px;
    height: 32px;
}
.stripe .stripe-info{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 15px;
    color: #E4B3D6;
    font-weight: 600;
}

@media screen and (max-width: 600px) {

    .stripe .last{
        display: none ;
    }
}
.location {
    padding: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.87);
}
.location ul{
    display: flex;
    gap: 0.8rem;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 14px;
    /* width: 50%; */
}
.location ul li a{
    color: #114C36;
}
@media screen and (max-width: 400px){
    .location {
        display: flex;
        flex-direction: column;
    }
}
footer{
    display: flex;
    padding: 5rem;
    gap: 2rem;
    font-family: sans-serif;
    background-color: #FAFAFA;
    overflow: hidden;
}
footer .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0.90rem;
}
footer h2{
    margin-bottom: 1.5rem;
    font-size: 16px;
    color: #000000c4;
}
footer p{
    margin-bottom: 0.5rem;
    color: #42474C;
    font-size: 14px;
}
footer .news p span {
    font-size: 26px;
    cursor: pointer;
}

footer .content p:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: text-decoration 5s;
}

footer .news input{
    border-bottom: 2px solid #114C36;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem;
    margin: 0.6em 0;
}
footer .news input:focus{
    outline: none;
}
footer .followus-icons p{
    margin-top: 0.7rem;
}
.copyright{
    font-size: 12px;
    font-family: sans-serif;
    color: #42474C;
    padding: 1rem;
}
.float{
    width: 55px;
    height: 50px;
    position: fixed;
    left: 25px;
    bottom: 30px;
    border-radius: 5px;

}
.float img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
@media screen and (max-width: 1024px) {

    footer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr ;
    }
    .news{
        grid-row: 1;
    }
    .footer-wrapper{
        grid-row: 2;
        grid-column: 1/-1;
    }
}
@media screen and (max-width: 750px) {

    footer h2{
        font-size: 15px !important;
    }
    footer .content-wrap{
        display: none;
    }    
    .footer-wrapper{
        display: flex !important;
        flex-direction: column !important;
    }
}